* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #e35869;
  font-family: 'Rubik', sans-serif;
}

/* LOGIN FORM */

.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.login-form .action button:hover {
  background: #d8d8d8;
}

/*Action buttons for login*/

.login-form .login_action button:nth-child(2) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .login_action button:nth-child(2):hover {
  background: #3c4d6d;
}

/*Action buttons for register */

.login-form .register_action button:nth-child(1) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .register_action button:nth-child(1):hover {
  background: #3c4d6d;
}

/*Nav bar*/
.nav-bar {
  background: #fff;
  width: 1000px;
  display: -webkit-box;
  display: flex;
  margin: 0px auto;
  flex-direction: row;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  justify-content: center;
  top: 0;
  position: sticky;
}

.nav-bar a {
  margin: 10px;
  text-decoration: none;
}

/* container class */
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  margin: 65px auto;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.item {
  margin: 10px auto;
  text-align: center;
}

.item:first-child {
  margin-top: 25px;
}

.item:last-child {
  margin-bottom: 25px;
}

.item a{
  text-decoration: none;
  font-size: 20px;
}

.item h1{
  font-weight: 300;
}

.item h3{
  font-weight: 300;
}

.item button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.item button:hover {
  background: #d8d8d8;
}

.add-poem input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align: center;
}
.add-poem textarea{
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  padding: 10px 20px;
  height: 200px;
  width: 400px;
  border: 1px solid #747474;
  outline: none;
  resize: none;
  text-align: left;
  vertical-align: top;
}

a {
  color: black;
  text-decoration: none;
}

a:visited{
    color:black;
}

.rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rating input{
  width: 10%;
  padding: 1px;
  margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

input[type=number] {
  text-align: center;
  -moz-appearance: textfield;
}

.search input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-align: center;
}