<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Poem</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    {% include "nav_bar.html" %}


    <form class="container add-poem" action="{{ url_for('addPoem') }}" method="post" id="add-form" autocomplete="off">
        <div class="item">
            <h1>Dodaj utwór</h1>
        </div>
        <div class="item">
            <input type="text" name="author" placeholder="Autor">
        </div>
        <div class="item">
            <label for="is-user-author">Wiersz autorski</label>
            <input type="checkbox" name="isUserAuthor" id="is-user-author">
        </div>
        <div class="item">
            <input type="text" name="title" placeholder="Tytuł">
        </div>
        <div class="item">
            Treść utworu
        </div>
        <div class="item">
           <textarea type="text" name="content" form="add-form">
            </textarea>
        </div>
        <div class="item">
            <button class="item" type="submit">Dodaj</button>
        </div>
    </form>
</body>
</html>