<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <p>Lista autorów:</p>
    {% for author in authors %}
        {% if author[1] %}
            <a>Użytkownik: {{ author[0] }}</a>
        {% else %}
            <a>{{ author[0] }}</a>
        {% endif %}
    {% endfor %}
</body>
</html>