<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    {% include "nav_bar.html" %}

    <div class="container">
        <div class="item">
            <h1>Autorzy:</h1>
        </div>
        {% for author in authors %}
            {% if author.isUserAuthor %}
                <div class="item">
                    <a href={{ url_for('userAuthorPage', author=author.parsedName) }}>👤 {{ author.name }}</a>
                </div>
            {% else %}
                <div class="item">
                    <a href={{ url_for('authorPage', author=author.parsedName) }}>{{ author.name }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>