<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <p>Lista autorów:</p>
    {% for author in authors %}
        {% if author.isUserAuthor %}
            <a href={{ url_for('userAuthorPage', author=author.parsedName) }}>Użytkownik: {{ author.name }}</a>
        {% else %}
            <a href={{ url_for('authorPage', author=author.parsedName) }}>{{ author.name }}</a>
        {% endif %}
        <br>
    {% endfor %}
</body>
</html>