<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    {% include "nav_bar.html" %}

    <div class="login-form">
      <form action="{{ url_for('login') }}" method="post">
          <h1>Login</h1>
        <div class="content">
          <div class="input-field">
            <input name="login" type="text" id="login" placeholder="Login" autocomplete="nope">
          </div>
          <div class="input-field">
            <input name="password" type="password" id="password" placeholder="Hasło" autocomplete="new-password">
          </div>
        </div>
        <div class="action login_action">
          <button type="submit" value="register" name="submit" id="register_button">Zarejestruj</button>
          <button type="submit" value="login" name="submit" id="login_button">Login</button>
        </div>
      </form>
    </div>

    <script type="text/javascript">
        document.getElementById("register_button").href = window.location.origin+'/register'
    </script>

</body>
</html>