<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ poem.title }}</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
{% include "nav_bar.html" %}

<div class="container">
    <div class="item">
        <h3>{{ poem.author }}</h3>
    </div>
    <div class="item">
        <h1>{{ poem.title }}</h1>
    </div>
    <div class="item">
        <p>
        {% for line in poem.content %}
            {{ line }}<br>
        {% endfor %}
        </p>
    </div>
</div>

<div class="container">
    <div class="item">
        <h1>Opinie</h1>
        <a href="{{ url_for('addOpinion', id=poem.id) }}">Dodaj własną opinię</a>
        <p>Średnia ocena: {{ poem.rating }} ★</p>
    </div>

    {% for opinion in poem.opinions %}
        <div class="item">
            <p>Autor: {{ opinion.author }} | {{ opinion.rating }} ★</p>
            <p>{{ opinion.content }}</p>
        </div>
    {% endfor %}
</div>


</body>
</html>